absl-py==2.4.0
accelerate==1.13.0
addict==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.1
astunparse==1.6.3
attrdict==2.0.1
attrs==25.4.0
av @ file:///home/conda/feedstock_root/build_artifacts/av_1721561968341/work
binpacking==2.0.1
blake3==1.0.8
brotli==1.2.0
cachetools==7.0.3
causal_conv1d @ file:///mnt/petrelfs/yangyu1/workspace/chl/causal-conv1d
cbor2==5.8.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cloudpickle==3.1.2
cmake==4.2.3
conda-pack @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_conda-pack_1769158814/work
contourpy==1.3.3
cpm-kernels==1.0.11
crcmod==1.7
cryptography==46.0.5
cycler==0.12.1
Cython==3.2.4
dacite==1.9.2
datasets==3.6.0
decord==0.6.0
deepspeed==0.18.6
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
einops==0.8.2
expecttest==0.3.0
fastapi==0.135.1
ffmpy==1.0.0
filelock==3.25.0
flash-linear-attention @ git+https://github.com/fla-org/flash-linear-attention.git@f24317a6a4f513748cd7eb05818534ce66029957
flash_attn==2.8.3
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2025.3.0
genson==1.3.0
gguf==0.18.0
gitdb==4.0.12
GitPython==3.1.46
gradio==5.50.0
gradio_client==1.14.0
groovy==0.1.2
grpcio==1.78.0
h11==0.16.0
hf-xet==1.3.2
hjson==3.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.5.0
hypothesis==6.151.9
idna==3.11
ijson==3.5.0
importlib_metadata==8.7.1
interegular==0.3.3
iopath==0.1.10
jieba==0.42.1
Jinja2==3.1.6
jiter==0.13.0
jmespath==0.10.0
joblib==1.5.3
json_repair==0.58.4
jsonpath-ng==1.8.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
lintrunner==0.13.0
lit==18.1.8
llguidance==1.6.1
lm-format-enforcer==0.11.3
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
mistral_common==1.10.0
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
model-hosting-container-standards==0.1.14
modelscope==1.34.0
mpmath==1.3.0
ms_swift @ git+https://github.com/modelscope/ms-swift.git@d0eedd5170526995d6226bea6fde3cd8fcf2ac45
msgpack==1.1.2
msgspec==0.20.0
multidict==6.7.1
multiprocess==0.70.16
networkx==3.6.1
ninja==1.13.0
nltk==3.9.3
numpy @ file:///croot/numpy_and_numpy_base_1750883793662/work/dist/numpy-2.3.1-cp311-cp311-linux_x86_64.whl#sha256=c8bcc7beca4cb3ebc0a7c134fc9b65c59470bf940fe31737dc591c1db5e173e2
nvidia-cusparselt-cu12==0.6.2
omegaconf==2.3.0
openai==2.24.0
openai-harmony==0.0.8
opencv-python-headless==4.13.0.92
optree==0.19.0
orjson==3.11.7
oss2==2.19.1
outlines==1.2.12
outlines_core==0.2.14
packaging @ file:///home/task_176104885106445/conda-bld/packaging_1761049078006/work
pandas==2.3.3
partial-json-parser==0.2.1.1.post7
peft==0.18.1
pillow @ file:///croot/pillow_1752524526621/work
platformdirs==4.9.2
portalocker==3.2.0
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.24.1
propcache==0.4.1
protobuf==6.33.5
psutil==7.2.2
py-cpuinfo==9.0.0
pyarrow @ file:///croot/pyarrow_1756839868845/work/python
pybase64==1.4.3
pybind11==3.0.2
pycountry==26.2.16
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.3
pydantic-extra-types==2.11.1
pydantic_core==2.41.4
pydub==0.25.1
Pygments==2.19.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-multipart==0.0.22
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git@7a6157e38ef11f699bf0ac203615a59dfec320d2
pytz==2026.1.post1
PyYAML==6.0.3
pyzmq==27.1.0
qwen-vl-utils==0.0.14
referencing==0.37.0
regex==2026.2.28
requests==2.32.5
rich==14.3.3
rouge==1.0.1
rpds-py==0.30.0
ruff==0.15.4
safehttpx==0.1.7
safetensors==0.7.0
scipy @ file:///croot/scipy_1753384405186/work/dist/scipy-1.16.0-cp311-cp311-linux_x86_64.whl#sha256=73630e3030511a4d41e5331c32fe4c71ed2f5470dc5a546981f7931d7da292b9
semantic-version==2.10.0
sentencepiece==0.2.0
sentry-sdk==2.54.0
setuptools-scm==9.2.2
shellingham==1.5.4
simplejson==3.20.2
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
starlette==0.52.1
supervisor==4.3.0
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tiktoken==0.11.0
tokenizers==0.22.2
tomlkit==0.13.3
torch @ file:///mnt/petrelfs/yangyu1/workspace/chl/pytorch
torchvision @ git+https://github.com/pytorch/vision.git@59a3e1f9f78cfe44cb989877cc6f4ea77c8a75ca
tqdm==4.67.3
transformers==5.2.0
transformers-stream-generator==0.0.5
triton @ file:///mnt/petrelfs/yangyu1/workspace/chl/triton
trl==0.29.0
typer==0.24.1
typer-slim==0.24.0
types-dataclasses==0.6.6
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uv==0.10.8
uvicorn==0.41.0
uvloop==0.22.1
vllm @ file:///mnt/petrelfs/yangyu1/workspace/chl/vllm_new
wandb==0.23.0
watchfiles==1.1.1
websockets==15.0.1
Werkzeug==3.1.6
xgrammar==0.1.32
xxhash==3.6.0
yarl==1.23.0
zipp==3.23.0
zstandard==0.25.0
